html {
  background-color: aliceblue;
}

body {
  margin: 0;
}

nav {
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  margin: 20px 12px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  padding: 6px;
}

nav ul li a:hover {
  background-color: aliceblue;
}

section {
  margin: 20px;
}

form {
  background-color: white;
}

form input {
  width: 100%;
  margin-bottom: 16px;
}

form input[type="submit"] {
  margin: 0;
  background-color: green;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

/* tambahkan CSS untuk section profile disini */

.profile-photo{
  position: absolute;
  margin-top: 10;
  
}

.profile-text{
  position: absolute;
  left: 300px;
 
  margin-top: 10;
 

  
}

#detail{
position: absolute;
left: 550;
margin-top: 10;


}

#detail td{
  padding: 10;
}

#kontak{
  background-color: blue;
  border: 4px;
  font-size: medium;
  border: 3px blue solid;
  border-radius: 10px;
  color: white;
}

#resume{
  background-color: white;
  border: 4px;
  font-size: medium;
  border: 3px green solid;
  border-radius: 10px;
  color: green;

}





